.uk-breadcrumb li a {
    color: #388e3c;
}

.uk-breadcrumb li::before {
    color: #2E7D32;
}

.uk-breadcrumb .uk-active {
    color: #66bb6a;
}

.uk-article-title {
    color: #388e3c;
}

.uk-article-meta {
    color: #66bb6a;
    font-size: 16px;
}

h2 {
    color: #2e7d32;
    padding-left: 6px;
    border-left: 4px solid #66bb6a;
    line-height: 24px;
    vertical-align: middle;
    margin-top: 30px;
}

.uk-nav-side li a {
    color: #43a047;
}

.uk-nav-side li a:hover,
.uk-nav-side li a:focus {
    color: #43a047;
    background-color: #e8f5e9;
}

.uk-article-divider {
    border-color: #4caf50;
}
